
#contenedor-seguimiento .step-item {
            position: relative;
            text-align: center;
            flex: 1;
        }
#contenedor-seguimiento .step-icon {
            width: 30px;
            height: 30px;
            border-radius: 20%;
            background-color: #e9ecef;
            color: #6c757d;
            display: flex;
            align-items: left;
            justify-content: center;
            margin: 0 auto 10px auto;
            font-size: 1.25rem;
            z-index: 2;
            position: relative;
        }
#contenedor-seguimiento .step-item.active .step-icon {
            background-color: #0d6efd;
            color: #fff;
        }
#contenedor-seguimiento .step-item.completed .step-icon {
            background-color: #198754;
            color: #fff;
        }
#contenedor-seguimiento .step-line {
            position: absolute;
            top: 15px;
            left: 50%;
            right: -50%;
            height: 4px;
            background-color: #e9ecef;
            z-index: 1;
        }
#contenedor-seguimiento .step-item.completed .step-line {
            background-color: #198754;
        }
#contenedor-seguimiento .step-item:last-child .step-line {
            display: none;
        }
